:root {
  --ff-primary: 'Roboto', sans-serif;
  --fw-reg: 300;
  --fw-bold: 900;
  --clr-primary: #E5E5E5;
  --clr-dark: #303030;
  --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
        0.125em 0.125em 0.25em rgba(0,0,0,.15); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none; }

*::before,
*::after {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem; }

img {
  display: block;
  max-width: 100%; }

strong {
  font-weight: var(--fw-bold); }

body {
  font-family: var(--ff-primary); }

h1,
h2,
h3 {
  font-weight: normal; }

.btn {
  border: none;
  padding: 2rem;
  background-color: var(--clr-primary);
  font-size: 1.8rem;
  cursor: pointer;
  transition: all .5s ease; }
  .btn--modal {
    padding: 1.5rem 4rem;
    font-size: 1.4rem; }

.btn:hover {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5); }

.js_btnAddPet {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.js_btnAddPetHeader {
  display: none; }

.container {
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: -100000; }

.container.active {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  z-index: 10000; }

.modal {
  position: absolute;
  top: -100vh;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60rem;
  background-color: white;
  padding: 2rem;
  z-index: 100000000;
  transition: all .5s; }
  .modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem; }
  .modal__title {
    font-size: 1.8rem; }
  .modal__close {
    cursor: pointer; }
  .modal__body {
    display: grid;
    grid-gap: 2.5rem;
    grid-template-areas: "nombre apellido" "raza telefono" "pais foto" "textarea textarea"; }
  .modal .nombre {
    grid-area: nombre; }
  .modal .apellido {
    grid-area: apellido; }
  .modal .raza {
    grid-area: raza; }
  .modal .telefono {
    grid-area: telefono; }
  .modal .pais {
    grid-area: pais; }
  .modal .foto {
    grid-area: foto; }
  .modal .textarea {
    grid-area: textarea; }
  .modal__input {
    height: 5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10px; }
    .modal__input::placeholder {
      font-size: 1.8rem; }
  .modal__textarea {
    padding: 20px 10px; }
    .modal__textarea::placeholder {
      font-size: 1.8rem; }
  .modal__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem; }
    .modal__footer > button:first-child {
      margin-right: 2rem; }

.modal.active {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.js_modalAreYouSure {
  text-align: center;
  padding: 5rem;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.3); }
  .js_modalAreYouSure > .js_close {
    position: absolute;
    top: 10px;
    right: 10px; }
  .js_modalAreYouSure > p {
    margin-bottom: 5rem; }

.pet {
  margin: 2rem;
  margin-top: 0;
  position: relative;
  width: 24rem;
  border: 1px solid #A1A1A1;
  transition: all .5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }
  .pet__edit {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 10px;
    left: 8px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: .9rem; }
    .pet__edit > img {
      margin-bottom: .5rem; }
  .pet__delete {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 10px;
    right: 8px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: .9rem; }
    .pet__delete > img {
      margin-bottom: .5rem; }
  .pet__img {
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
    border: 1px solid #A1A1A1;
    margin: 2rem 0 1rem; }
  .pet__name {
    font-size: 2rem;
    line-height: 23px; }
  .pet__country {
    margin-top: 1rem;
    margin-bottom: 1rem; }
  .pet__about {
    font-size: 1.4rem;
    width: calc(100% - 5rem);
    overflow-wrap: break-word;
    margin-bottom: 2rem; }

.pet:hover {
  box-shadow: 0px 0px 8px #000000; }

.header {
  background-color: var(--clr-primary);
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem; }
  .header__title {
    font-size: 3.6rem;
    font-weight: normal; }

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 2rem; }
